# Папка об'єктних файлів (білди)
obj/

# Папка Visual Studio
.vs/
/HomeFuBack/obj/Release/net8.0
/HomeFuBack/obj/Release
/HomeFuBack/obj
HomeFuBack/obj/Release/net8.0/HomeFuBack.AssemblyInfoInputs.cache
HomeFuBack/obj/Release/net8.0/HomeFuBack.AssemblyInfo.cs
HomeFuBack/obj/Release/net8.0/HomeFuBack.AssemblyInfoInputs.cache
HomeFuBack/obj/Release/net8.0/HomeFuBack.AssemblyInfo.cs
/HomeFuBack/obj/Release/net8.0
/HomeFuBack/obj/Release
/HomeFuBack/obj
/.vs/HomeFuBack/v17
/HomeFuBack/obj
